* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

/* LANDINGS PAGE */

canvas {
  width: 100vw;
  height: 100vh;
}

section {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

header a {
  margin-inline-end: auto;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 20px;
  margin: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 3em;
}

li a {
  text-decoration: none;
}

.landing-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
  color: #fff;
}

.landing-text h1 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.2;
}

.landing-text p {
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}

.landing-text mark {
  background-color: transparent;
  color: #4f9f2d;
}

.landing-text button {
  border-color: #4f9f2d;
  transition: all ease 0.8s;
  background-color: transparent;
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid #4f9f2d;
}

.landing-text button:hover {
  box-shadow: inset 150px 0 0 0 #4f9f2d;
  background-color: transparent;
}

button a {
  color: #000;
  margin: 10px;
  text-decoration: none;
}

@media only screen and (max-device-width: 768px) {
  li a {
    font-size: 16px;
    padding: 10px;
  }
  header img {
    width: 100px;
    height: auto;
  }
}

@media only screen and (max-device-width: 480px) {
  li a {
    display: none;
  }
  .landing-text h1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
  }
  .landing-text p {
    margin: 10px;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.6;
  }
  .landing-text button {
    border-color: #4f9f2d;
    transition: all ease 0.8s;
    background-color: transparent;
    font-size: 0.7rem;
    line-height: 1.375em;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #4f9f2d;
  }
}
/* EINDE LANDINGS PAGE */

/* CONTACT PAGE */

.contact-page {
  height: 100vh;
  display: flex;
}

.google {
  position: relative;
}

.google-text img {
  position: absolute;
  top: 75%;
  left: 46%;
}

.google-text a {
  text-decoration: none;
}

.google iframe {
  z-index: -10;
  width: 50vw;
  height: 100vh;
}

.google-overlay {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    white 30%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.google-text {
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 15%;
}

.contact-page h1 {
  font-size: 48px;
  line-height: 1.05em;
  font-weight: 400;
  margin-bottom: 5px;
}

.contact-page h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
}

.contact-page p {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.form {
  width: 50vw;
  position: relative;
}

.form-text {
  position: absolute;
  top: 24%;
  left: 15%;
}

.form-text h1 {
  font-size: 48px;
  line-height: 1.05em;
  font-weight: 400;
  margin-bottom: 5px;
}

.form-text label {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.form-text input,
textarea {
  border: 2px solid #4f9f2d;
  border-color: #4f9f2d;
  padding: 0.375rem 0.75rem;
  width: 100%;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}

.form-text button {
  padding: 0.375rem 0.75rem;
  border-color: #4f9f2d;
  transition: all ease 0.8s;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 400;
  border-radius: 15px;
  border: 2px solid #4f9f2d;
}

.form-text button:hover {
  box-shadow: inset 150px 0 0 0 #4f9f2d;
  background-color: transparent;
}

.fab {
  font-size: 46px;
  color: #2c2c2c;
}

.fab:hover {
  color: #4f9f2d;
}

/* EINDE CONTACT PAGE */

/* COPYRIGHTS */
.copyrights {
  margin: 10px;
  padding: 20px;
  text-align: center;
}
