* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

canvas{
  width: 100vw;
  height: 100vh;
}


header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  width: 100vw;
}

header a{
  margin-inline-end: auto;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 20px;
  margin: 10px;
}

li a{
  text-decoration: none;
}
