* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #000;
  scroll-behavior: smooth;
}

canvas{
  width: 100vw;
  height: 100vh;
}

section{
  width: 100vw;
  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  width: 100vw;
}

header a{
  margin-inline-end: auto;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 20px;
  margin: 10px;
  font-size: 26px;
}

li a{
  text-decoration: none;
}

.landing-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  text-align: center;
  color: #fff;
}

.landing-text p{
  margin: 10px;
}

.landing-text mark {
  background-color: transparent;
  color: #4f9f2d;
}

.landing-text button {
  border-color: #4f9f2d;
  transition: all ease 0.8s;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 15px;
  border: 2px solid #4f9f2d;
}

.landing-text button:hover {
  box-shadow: inset 150px 0 0 0 #4f9f2d;
  background-color: transparent;
}

button a {
  color: #000;
  margin: 10px;
  text-decoration: none;
}
